button {
	display: inline-block;
	color: var(--blue);
	border: solid var(--xxsm) var(--blue);
	padding: var(--sm) var(--lg);
	border-radius: 2em;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	transition: 0.5s;

}

button:hover {
	transition: 0.5s;
	padding: var(--sm) var(--xlg);
}