nav {
	background-color: var(--white);
}

nav > .box:nth-child(1) {
	background-color: var(--blue);
	padding: var(--md);
	color: var(--white);
	text-align: center;
	font-weight: bold;
}

nav > .grid {
	display: grid;
	padding: var(--md);
	grid-template-columns: auto 1fr auto;
	grid-gap: var(--lg);
	justify-self: center;
	align-items: center;
}

nav > .grid > .box:nth-child(2) {
	text-align: right;
}

nav > .grid > .box:nth-child(2) > .link {
	color: var(--blue);
	margin-left: var(--md);
}

nav > .grid > .box > .link > .logo {
	width: 170px;
}
