:root {
	/* primary */
	--green: '#009896';
	--pink: '#EFB6BA';
	--blue: '#58C2DA';
	/* other */
	--indigo: '#6610f2';
	--orange: '#fd7e14';
	--purple: '#6f42c1';
	--red: '#dc3545';
	--teal: '#20c997';
	/* base */
	--gray: '#6c757d';
	--white: '#fff';
	--black: '#000';
}
